h5 {
	text-align:right;}

.container{
	width: 500px;
}

body {
	width: 300px;
	border: 1px solid black;
}

table {
	
	width: 300px;
}

.header hr {
	display: block;
	width: 250px;
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    margin-left:  25px;
}

.table hr {
	display: block;
	width: 220px;
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333;
    margin-left: 40px;

}

td.indent {
	text-indent: 2em;
}
